@using FreeMarket.Models
@model ArticlesViewModel

<table class="table table-bordered-custom table-responsive">
    <tr>
        <th class="col-sm-4">
            Category
        </th>
        <th class="col-sm-8">
            Number of articles
        </th>
    </tr>
    @foreach (ArticleCategory category in Model.Categories)
    {
        <tr>
            <td>
                <div><span class="glyphicon glyphicon-edit"></span>&nbsp;@Html.ActionLink(category.Name, "Admin", "ViewArticle", new { articleId =  })</div>
            </td>
            <td>
                Activate or deactivate products. Modify prices. Create new products.
            </td>
        </tr>
    }
    
</table>
